body {
  font: 13px Helvetica, arial, freesans, clean, sans-serif;
  background: #aaa no-repeat 0 0;
}

/* #### Mobile Phones #### */
@media screen and (max-width: 480px) {
  div#bio {
    width: 100%;
    float: left;
    margin: 10px auto;
  }

  div#links {
    width: 100%;
    height: 50px;
    margin: 10px auto;
    float: left;
  }
}

@media screen and (min-width: 481px) {

  div#bio {
    width: 350px;
    padding: 50px 0px 0px 50px;
    float: left;
  }

  div#links {
    width: 50px;
    padding: 50px 0;
    float: left;
  }

  div#links img {
    margin-bottom: 11px;
  }

}


div#bio img {
  margin-bottom: 5px;
  border: 1px solid #999;
  -moz-box-shadow: 0 0 10px rgba(0,0,0,0.5); 
  -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.5);
  -o-box-shadow: 0 0 10px rgba(0,0,0,0.5); 
  box-shadow: 0 0 10px rgba(0,0,0,0.5); 
}

span.name {
  font-size: 30px;
  letter-spacing: -1px;
  color: #495961;
}

span.nick {
  display: inline-block;
  width: 100%;
  text-overflow: ellipsis;
  overflow-x: hidden;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: 24px;
  color: #666;
  position: relative;
  top: -2px;
  margin-bottom: 12px;
  vertical-align: top;
  letter-spacing: 0;
  -webkit-font-smoothing: antialiased;
}

div#links img {
  margin-left: 1px;
  margin-top: 1px;
}

div#links img:hover {
  border: 1px solid #999;
  -moz-box-shadow: 0 0 10px rgba(0,0,0,0.5); 
  -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.5);
  -o-box-shadow: 0 0 10px rgba(0,0,0,0.5); 
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  margin-left: 0;
  margin-top: 0;
  margin-bottom: 10px;
}

