<!DOCTYPE html>

<html>
	<head>
		<title>Homepage</title>
		<link href="/css/application.css" media="screen" rel="stylesheet" type="text/css" />
	  	<%= css :application, :media => 'screen' %>
      <%= js :application %>
	</head>
	<body>
		<div id="page">
			<%= yield %>
		</div>
	</body>
</html>