<!DOCTYPE html>

<html>
	<head>
		<title>Homepage</title>
		<link href="/css/application.css" rel="stylesheet" type="text/css" /> 
	</head>
	<body>
		<div id="page">
			<%= yield %>
		</div>
	</body>
</html>